#Custom
output
pelicanconf_local.py
*.lst
*.err
*.log

articles.bib
articles-small.bib
articles.bib.new.bib
articles.bib.lst
articles.bib.save

#Python
*.py[cod]

# Installer logs
pip-log.txt

.DS_Store
*.md
docs
