#Custom
output
pelicanconf_local.py
*.lst
*.err
*.log

articles.bib
articles-small.bib
articles.bib.new.bib
articles.bib.lst
articles.bib.save

themes/bootstrap2/templates/size.txt
themes/bootstrap2/templates/authors.txt

#Python
*.py[cod]

# Installer logs
pip-log.txt

.DS_Store
._*
*.md
docs
library/doi
